/* Custom CSS */
/* Coded by Dean Gilroy @ General Assembly */
/* Project: Feedr; */

/*STUCTURAL CSS*/
header {
	background: #222220;
	color: white;
	padding: 5px 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
h1 {
	font-size: 60px;
	margin-left: 10px;
}
#popUp h1 {
	font-size: 30px;
	background-color: #444440;
	color: #f5f5f5;
	line-height: 35px;
	 margin-bottom: 0;
}
h2 {
	font-size: 15px;
	margin-left: 20px;
}
a {
	padding-right: 15px;
	padding-left: 5px;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: #444440;
}
p {
	color: #444440;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
hr {
	border-top: 1px solid #444440;
}
img {
	margin-left: 20px;
}
.article-image {
	border-radius: 5px;
	display: inline-block;
	margin-top: 20px;
}
.options {
	color: #444440;
  	background-color: #f5f5f5;
  	border-color: #f5f5f5;
  	font-size: 15px;
  	width: 225px;
  	height: 25px;
}
#searchInput {
	margin-right: 15px;
	background-color: #f5f5f5;
	height: 40px;
	width: 250px;
	border-bottom: 5px solid #0aa45c;
	border-top: none; 
	border-left: none;
	border-right: none;
	border-radius: 5px;
	color: black;
	display: none;
}
.searchBox {
	float: right;
	margin: -55px 37px;
}
#searchIcon {
	font-size: 40px;
}
.comments {
	display: inline-block;
	font-size: 30px;
	color: #0aa45c;
	padding: 10px;
}
.hidden {
	display: none;
}


/*ANIMATION & ROTATION ON THE LOGO*/
#logo {
	-webkit-animation: logoZoom 2s; /* Safari 4+ */
  	-moz-animation:    logoZoom 2s; /* Fx 5+ */
  	-o-animation:      logoZoom 2s; /* Opera 12+ */
  	animation:         logoZoom 2s; /* IE 10+, Fx 29+ */
  	-ms-transform: 		rotate(0deg); /* IE 9 */
    -webkit-transform: 	rotate(0deg); /* Chrome, Safari, Opera */
    transform: 			rotate(0deg);
}

	@keyframes logoZoom {
  		0% {
    		font-size: 0px;
    		color: #f5f5f5;
  		}
  		100% {
    		font-size: 60px;
    		color: #f5f5f5;
  		}
	}

/*END ANIMATION ON THE LOGO*/

#dropdown {
	font-size: 15px;
	background-color: #222220;
	padding: 5px 25px;
	margin-top: 2px;
}
.container-fluid {
	padding: 0px;
}

.article-row {
	margin: 0;
}
.article-column {
	margin: 0;
	text-align: center;
}
.module {
	font-family: 'Montserrat', sans-serif;
	background-color: #e8e8e8;
	padding: 10px;
	margin: 5px 5px;
	z-index: 0;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	padding: 5px 10px;
	background-color: #0aa45c;
	color: #f5f5f5;
	margin-left: 20px;
}
.footer {
    background-color: #f5f5f5;
}
#loader {
	margin: 200px 625px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
}

/*POPUP*/
#popUp {
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  #fff;
  z-index: 2;
}

#popUp .closePopUp {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: #0aa45c;
  text-decoration: none;
}

#popUp.loader .container {
  display: none;
}

#popUp .container {
  margin-top: 80px;
}
#popUp .popUpAction {
  padding: 10px;
  background-color: #0aa45c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transform: 0.2s all;
  margin-top: 30px;
  margin-left: 5px;
  display: block;
  width: 200px;
}

#popUp .popUpAction:hover {
  color: #444440;
  background: #FFF;
  border: 2px solid #0aa45c;
}
/*END POPUP*/

/*PSEUDO CLASSES*/

a:hover {text-decoration: none; color: #0aa45c;}

#logo:hover {color: #0aa45c;}

.btn:focus {outline:0 !important;}

input:focus {outline:0 !important;}

.options:focus {outline:0 !important;}


/*MOBILE*/
@media only screen and (max-width: 768px) {

	h1 {
		font-size: 50px; 
	}
	footer, p, a {
		font-size: 12px;
	}
	.footer {
		position: relative;
	}
}



